{% extends 'base.html' %}

{% block header %}
<div class="container">

    <br />
    <div class="card m-3">
        <div class="card-body text-center">
            <h2>
                Search for a music Event!
            </h2>
            <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.search')}}" >
                <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2"   id="SearchForm">
                <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button>
            </form>
        </div>
    </div>
    <br />
</div>
{% endblock %}



{% block content %}
<div class="container">

    <h1> Explore Categories</h1>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 h4">
            <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                alt="">
            Rock & Roll
            <span class="d-inline text-end"></span>
            <br />
            <hr />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 h4">
            <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                alt="">
            Rock & Roll
            <span class="d-inline text-end"></span>
            <br />
            <hr />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 h4">
            <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                alt="">
            Rock & Roll
            <span class="d-inline text-end"></span>
            <br />
            <hr />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 h4">
            <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                alt="">
            Rock & Roll
            <span class="d-inline text-end"></span>
            <br />
            <hr />
        </div>
        <div class="d-none d-sm-block col-xs-12 col-sm-6 col-md-4 h4">
            <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                alt="">
            Rock & Roll
            <span class="d-inline text-end"></span>
            <br />
            <hr />
        </div>
        <div class="d-none d-sm-block col-xs-12 col-sm-6 col-md-4 h4">
            <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                alt="">
            Rock & Roll
            <span class="d-inline text-end"></span>
            <br />
            <hr />
        </div>
    
    </div>
    <div class="container">
    <br/>
        <h1 style="text-align:center;">Popular Upcoming Events in Brisbane</h1>
        <div class="row mt-5 mb-5 justify-content-center">
           <div class="col-md-5">
           </div>
        </div>

        <div class="card-group">
           {% for Event in events %}
           <div class="card mx-3">
              <img class="card-img-top"
                 src="{{Event.image}}" alt="Event picture">
              <div class="card-body">
                 <h5 class="card-title">{{Event.event_name}}</h5>
                 <p class="card-text">{{Event.description}}</p>
              </div>
              <a class ="btn btn-danger"> View Details </a>
           </div>
           {% endfor %}
        </div>
    </div>
    <br/>
{% endblock %}
