<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MusicBooker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        .centeredoverimg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(182, 196, 209);">
        <div class="container-fluid container">
            <a class="navbar-brand" href="/index.html">MusicBooker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eventcreation.html">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booked.html">Booked Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <img src="static/img/Untitled.jpg" class="card-img-top" style="width: 20rem;" alt="...">
            </div>
            <div class="col px-lg-5">
                <h1>
                    Big Music Jam Wed - 22/12/23
                </h1>
                <a href="/booking.html" class="btn btn-success" >Book tickets from $10</a> 
                <p>Event organizer</p>
                <h3>Categories</h3>
                <span class="badge rounded-pill text-bg-primary">Jazz</span>
                <span class="badge rounded-pill text-bg-primary">Punk</span>
                <span class="badge rounded-pill text-bg-primary">Outdoor</span>
                <span class="badge rounded-pill text-bg-primary">Christian</span>
            </div>
        </div>
        <h3>Description</h3>
        <p>
            This is a Description for the event which is going to be held. 
            Lorem dolor sit amet, consectetur
            adipiscing elit. Sed leo purus, egestas eu leo vitae, finibus
            porta orci. Ut eget vulputate felis. Vivamus pretium semper
            leo, id ullamcorper ante euismod nec. Phasellus placerat quis
            massa vitae auctor. Aliquam sollicitudin libero ac vulputate
            mattis. Aenean placerat convallis risus id sodales. Duis justo
            est, tincidunt ac orci placerat, pellentesque mollis libero.
        </p>
        <h3>Featuring artists</h3>
        <ul>
            <li>
                The Pink Panther
            </li>
            <li>
                The Pink Panther
            </li>
            <li>
                The Pink Panther
            </li>
        </ul>
        
        
    </div>
    <!-- <nav class="navbar navbar-light footer" style="background-color: rgb(182, 196, 209);">
        <div class="container">

        </div>
    </nav> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>