<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MusicBooker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(182, 196, 209);">
        <div class="container-fluid container">
            <a class="navbar-brand" href="/index.html">MusicBooker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eventcreation.html">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booked.html">Booked Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 ">
            <div class="card col m-3">
                <!-- https://upload.wikimedia.org/wikipedia/commons/1/1a/Bangkok%2C_Thailand%2C_Party%2C_Lights_and_sounds%2C_Electronic_music.jpg-->
                <img src="static/img/thailand.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Electronic Music Festival</h5>
                    <p class="card-text">Booking ID: 1241213412341</p>
                    <p class="card-text">Booked on the 17/09/2024 at 8:30 pm</p>
                    <h4>Booking Details</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, q
                    </p>
                    <a href="/details.html"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View Event
                        Details</a>
                </div>
                
            </div>
            <div class="card col m-3">
                <!-- https://upload.wikimedia.org/wikipedia/commons/1/1a/Bangkok%2C_Thailand%2C_Party%2C_Lights_and_sounds%2C_Electronic_music.jpg-->
                <img src="static/img/Untitled.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Jazz Music Festival</h5>
                    <p class="card-text">Booking ID: 12243142142</p>
                    <p class="card-text">Booked on the 17/09/2024 at 8:30 pm</p>
                    <h4>Booking Details</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, q
                    </p>
                    <a href="/details.html"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View Event
                        Details</a>
                </div>
                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>