{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="{{ event.image }}" class="card-img-top" style="width: 20rem;" alt="...">
        </div>
        <div class="col px-lg-5">
            <h1>
                {{event.event_name}} - {{event.date}}
            </h1>
            <a href="/events/{{id}}/book" class="btn btn-success" >Book tickets from ${{min_ticket_price|round}}</a> 
            <p>Event organizer</p>
            <h3>Categories</h3>
            <span class="badge rounded-pill text-bg-primary">Jazz</span>
            <span class="badge rounded-pill text-bg-primary">Punk</span>
            <span class="badge rounded-pill text-bg-primary">Outdoor</span>
            <span class="badge rounded-pill text-bg-primary">Christian</span>
        </div>
    </div>
    <h3>Description</h3>
    <p  style="white-space: pre-wrap;">
       
        {{event.description}}
    </p>
    <h3>Featuring artists</h3>
    <ul>
    {% for artist in event.artists %}
        <li>
            {{ artist.artist_name }}
        </li>
        
    {% endfor %}
    </ul>
    
    
</div>
{% endblock %}