{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/form.html' import render_field %}


{% block content %}
<div class="container">

    <h1>{{event.event_name}} - {{event.date}} <a href="/events/{{event.id}}" class="btn btn-danger">Back to Details</a></h1>
    <hr />
    
    <div class="container">
        <form method="post" > 
        {% for pack in packed %}
        <div class="row">
            <div class="col-8">
                <h4>{{pack[0].ticket_name}}</h4>
                <span>${{pack[0].ticket_price}}</span>
                <p>{{pack[0].ticket_description}}</p>
            </div>
            <div class="col justify-content-center align-middle form-group w-10">
               {{render_field(pack[1])}}
            </div>
        </div>
        <hr />
        {% endfor %}

        <div class=" fixed-bottom">
            <hr />

            <div style="background-color: orangered; color: white;">
                <h2 class="text-center p-3">{{render_field(form.submit)}}</h2>
            </div>
        </div>
        </form> 
    </div>

</div>

{% endblock %}