{% extends 'base.html' %}


{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<div class="container">
    <h1>Create Event</h1>

    
    <!-- {{ render_form(form) }} -->
    <form method="post" enctype="multipart/form-data" id="theForm"> 
        {{render_field(form.event_name)}}
        {{render_field(form.date)}}
        {{render_field(form.event_status)}}
        {{render_field(form.categories)}}
        {{render_field(form.description)}}
        <img src="{{ form.imagePath.data }}" style="max-width: 150px; max-height: 150px;"></img>
        {{render_field(form.image, accept=".PNG,.png,.JPEG,.jpeg,.JPG,.jpg")}}
        {{form.imagePath()}}
        <h4>Artists</h4>
        

        {{render_field(form.addArtist, formnovalidate=True)}}
        {{render_field(form.subArtist, formnovalidate=True)}}
        {% for artist in form.artists %}
            {{render_field(artist)}}
        {% endfor %}

        <h4>Ticket Options  </h4>
       
        {{render_field(form.addTicket, formnovalidate=True)}}
        {{render_field(form.subTicket, formnovalidate=True)}}
        {% for ticket in form.tickets %}
            {{render_field(ticket)}}
        {% endfor %}
        {{render_field(form.submitsubmit)}}
        {{ form.csrf_token }}
    </form>

</div>

<script>
    document.getElementById('image').onchange = function() {
        form = document.getElementById('theForm')
        form.submit()
        };
</script>

{% endblock %}