{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="{{ event.image }}" class="card-img-top" style="width: 20rem;" alt="...">
        </div>
        <div class="col px-lg-5">
            <h1>
                {{event.event_name}}
            </h1>
            <h2>
                Date: {{event.date}}
            </h2>
            
            {% if event.status == 0 %}
                <a href="/events/{{id}}/book" class="btn btn-success" >Book tickets from ${{min_ticket_price|round}}</a>
            {% elif event.status == 1 %}
                <a class="btn btn-danger" >Currently Inactive</a>
            {% elif event.status == 2 %}
                <a class="btn btn-danger" >Sold Out</a>
            {% elif event.status == 3 %}
                <a class="btn btn-danger" >Cancelled</a>
            {% endif %}

            <p>Event organizer: {{event.user.name}}</p>
            {% if event.categories|length > 0 %}
                {% for category in event.categories %}
                    <h3>Categories</h3>
                    <span class="badge rounded-pill text-bg-primary">Jazz</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <h3>Description</h3>
    <p  style="white-space: pre-wrap;">
       
        {{event.description}}
    </p>
    <h3>Featuring artists</h3>
    <ul>
    {% for artist in event.artists %}
        <li>
            {{ artist.artist_name }}
        </li>
        
    {% endfor %}
    </ul>
    
    
</div>
{% endblock %}