<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MusicBooker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>

    <nav style="background-color: rgb(154, 170, 184);">
        <nav class="navbar navbar-expand-lg" style="background-color: rgb(182, 196, 209);">
            <div class="container-fluid container">
                <a class="navbar-brand" href="/index.html">MusicBooker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eventcreation.html">Create Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/booked.html">Booked Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">

            <br />
            <div class="card m-3">
                <div class="card-body text-center">
                    <h2>
                        Search for a music Event!
                    </h2>
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control">
                            <input class="btn btn-lg btn-primary" type="submit" />
                        </div>
                    </form>
                </div>
            </div>
            <br />
        </div>

    </nav>
    <br />

    <div class="container">

        <h1> Explore Categories</h1>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 h4">
                <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                    alt="">
                Rock & Roll
                <span class="d-inline text-end"></span>
                <br />
                <hr />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 h4">
                <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                    alt="">
                Rock & Roll
                <span class="d-inline text-end"></span>
                <br />
                <hr />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 h4">
                <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                    alt="">
                Rock & Roll
                <span class="d-inline text-end"></span>
                <br />
                <hr />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 h4">
                <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                    alt="">
                Rock & Roll
                <span class="d-inline text-end"></span>
                <br />
                <hr />
            </div>
            <div class="d-none d-sm-block col-xs-12 col-sm-6 col-md-4 h4">
                <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                    alt="">
                Rock & Roll
                <span class="d-inline text-end"></span>
                <br />
                <hr />
            </div>
            <div class="d-none d-sm-block col-xs-12 col-sm-6 col-md-4 h4">
                <img src="static/img/20200229_03_Alcest_(49605436357).jpg" height="70" width="70" class="d-inline rounded"
                    alt="">
                Rock & Roll
                <span class="d-inline text-end"></span>
                <br />
                <hr />
            </div>

        </div>
        <p class="text-end px-5 py-2"><a href="#"
                class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View
                More</a></p>
        <hr />

        <div id="carouselExample" class="carousel slide">
            <div class="d-flex">
                <div class="">
                    <button class="btn m-0 p-0" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <h1>←</h1>
                    </button>
                </div>
                <div class="ms-4">
                    <h1> Popular Upcoming Events in Brisbane</h1>
                </div>
                <div class="text-end flex-fill">
                    <button class="btn m-0 p-0" text-end data-bs-target="#carouselExample" data-bs-slide="next">
                        <h1>→</h1>
                    </button>
                </div>
            </div>
            <hr />
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                        <div class="col d-none d-lg-block">
                            <div class="card">
                                <!-- https://upload.wikimedia.org/wikipedia/commons/1/1a/Bangkok%2C_Thailand%2C_Party%2C_Lights_and_sounds%2C_Electronic_music.jpg-->
                                <img src="static/img/thailand.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">An Electro Festival</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-none d-sm-block">
                            <div class="card">

                                <!-- https://upload.wikimedia.org/wikipedia/commons/c/c8/Bob_James_Jazzmen_jazz_music.jpg-->
                                <img src="static/img/Untitled.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Jazz and Classical Music Festival</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <!-- https://upload.wikimedia.org/wikipedia/commons/7/71/20200229_03_Alcest_%2849605436357%29.jpg -->
                                <img src="./static/img/20200229_03_Alcest_(49605436357).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Rock & Roll Concert Concert</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                        <div class="col d-none d-lg-block">
                            <div class="card">
                                <!-- https://upload.wikimedia.org/wikipedia/commons/1/1a/Bangkok%2C_Thailand%2C_Party%2C_Lights_and_sounds%2C_Electronic_music.jpg-->
                                <img src="static/img/thailand.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Electronic Music</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-none d-sm-block">
                            <div class="card">

                                <!-- https://upload.wikimedia.org/wikipedia/commons/c/c8/Bob_James_Jazzmen_jazz_music.jpg-->
                                <img src="static/img/Untitled.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Jazz and Classical Music</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <!-- https://upload.wikimedia.org/wikipedia/commons/7/71/20200229_03_Alcest_%2849605436357%29.jpg -->
                                <img src="./static/img/20200229_03_Alcest_(49605436357).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Rock & Roll Concert</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-end px-5 py-2"><a href="#"
                class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View
                More</a></p>
        <hr />
        <br />
        <br />
        <br />
    </div>
    <nav class="navbar navbar-light" style="background-color: rgb(182, 196, 209);">
        <div class="container">

        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>